body, html{
    font: normal 18px/1.5;
    font-family: 'Raleway', sans-serif;
    background:rgb(220, 222, 226);
    color: black;
    min-width: 960px;
    color: black;
}

.based_on_text{
    display: inline-block;
}

.about{display:flex;
    justify-content: center;
    color: red;
    }