body, html{
    font: normal 18px/1.5;
    font-family: 'Raleway', sans-serif;
    background:lightskyblue;
    color: black;
    min-width: 960px;
    color: black;
}

.container {
    font-size: larger;
}

.based_on_text{
    text-align: center;
}

.about{display:flex;
    justify-content: center;
    color: red;
    }

.content{
    text-align: center;
}

.submit {
    text-align: center;
}