body, html{
    font: normal 18px/1.5;
    font-family: 'Raleway', sans-serif;
    background:lightskyblue;
    color: black;
}

.container {
    font-size: larger;
    position: relative;
    max-width: none;
    flex-grow: 1;
}

.about{
    font-size: x-large;
}

.based_on_text .about{
    text-align: center;
    
}

.about{display:flex;
    justify-content: center;
    color: red;
    }

.content{
    text-align: center;
}

.submit {
    text-align: center;
}